#aps-img{
    width: 150px;
    height: 90px;
}

.aps{
    text-align: center;
    background-color: rgba(120, 13, 13, 0.922);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    border-radius: 10px;
    border-color: white;
    transition: background-color 1s ease, color 0.5s ease, transform 0.5s ease, border-color 0.5s ease;
}
.aps *div {

}
.aps:hover{
    transform: scale(1.1);
    color: black;
}

.p-lista {
    margin: 5px;
}

.div-anuncios-geral {
    display: flex;
    flex-wrap: wrap;
}

.div-anuncio {
    margin: 10px 10px;
}
