@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body{
    margin: 0;
    background-color: #3d204e;
    font-family: "Noto Sans", sans-serif;
}



li{
    list-style-type: none;
}

a{
    text-decoration: none;
}


#corpo{
    display: flex;
    flex-direction: column;
    margin-left: 3.8%;
    margin-top: 4%;
    margin-bottom: 4%;
    border: solid 6px white;
    border-radius: 10px;
    width: 90vw;
    height: 12  0vh;
    background-color: #2b1b35;
    box-shadow: 10px 10px 5px #3d264b; 
}

#corpo main > h1{
    color: rgb(235, 235, 102);
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-transform: uppercase;
    
}

#corpo > .niveis > h2{
    padding: 1%;
    color: rgb(235, 235, 102);;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.niveis{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    padding: 1%;
    text-align: center;
    color: white;
    margin: 0 2% 0 2% ;

}

.niveis  > a{
    margin: 3%;
    padding: 1%;
    border: 4px solid yellow;
    border-radius: 20px;
    background-color: white;
    color: black;
    text-transform: uppercase;
    transition: transform 0.5s ease;
}

.niveis > a:hover{
    cursor: pointer;
    transform: scale(1.05,1.05);
}
