

header{
    display: flex;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;



    
}

header img{
    width:150px;

}


.Inicial {
    background: url("../img/initial.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 20px;
    opacity: 70%;
    border-top: 20px solid white;
    border-bottom: 20px solid white;
}




.botoes{
    text-align: center;
}
.initbot{
    text-align: center;
    background-color: red;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: white
    ;
    padding: 8px 15px;
    border-radius: 10px;
    border-color: white;
    transition: background-color 1s ease, color 0.5s ease, transform 0.5s ease;
}

.initbot:hover{
    border-color: black;
    color: black;
    
}



* p{
    color: white;
}